.home__accompany {
    width: 100%;
    min-height: 750px;
    height: 100vh;
    max-height: 1080px;
}
.accompany__content {
    margin-top: 0%;
    margin:auto;
    width: 85%;
    max-width: 1800px;
    height: 100%;
    z-index: 2;
    display: flex;
    position: relative;
    background-color: #fff;
}

.accompany__column_left {
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 60%;
    width: 40%;
    height: 100%;
    position: relative;
    /* background-color: grey; */
}
.accompany__image {
    /* display: none; */
    margin:auto;
    margin-top: 135px;
    width: 90%;
    height: 75%;
    border-radius: 15px;
    background-image: url(/static/media/home/content__accompany.png);
    background-size: cover;
    background-position: 50% 50%;
}

.accompany__column_right {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    position: relative;
    /* background-color: yellow; */
}

.accompany__title {
    /* display: none; */
    margin-top: 210px;
    width: 100%;
    text-align:center;
    font-size: 28px;
}
.accompany__info {
    /* display: none; */
    margin: auto;
    margin-top: 20px;
    width: 90%;
    font-size: 22px;
    line-height: 45px;
    text-align: justify;
    background-color: #fff;
}
._tezis {
    /* display: none; */
    text-align: left;
    margin-top: 0px;
}


@media(max-width: 768px){
    .accompany{
        height: 1080px;
    }
    .accompany__content {
        display: block;
    }

    .accompany__column_right{
        position: static;
        padding-top: 100px;
        width: 100%;
        height: auto;
        
    }
    .accompany__title{
        font-size: 22px;
        margin-top: 0;
    }
    .accompany__info{
       width: 100%;
       font-size: 18px;
       line-height: 28px;
       text-align: justify;
    }
    ._tezis{
        margin-top: 10px;
        text-align: left;
    }
    
    .accompany__column_left{
        position: static;
        width: 100%;
        height: auto;
        order: 2;
        
    }
    .accompany__image{
        margin-top: 40px;
        width: 100%;
        height: 416px;
    }
    

}
@media(min-width: 769px) and (max-width: 1022px) {
    .accompany__title {
        font-size: 18px;
    }
    .accompany__info {
        font-size: 12px;
        line-height: 28px;
    }
}
@media(min-width: 1023px) and (max-width: 1439px) {
    .accompany__title {
        font-size: 22px;
    }
    .accompany__info {
        font-size: 16px;
        line-height: 32px;
    }

}

@media(min-width: 1919px) {
    .accompany__title {
        font-size: 32px;
    }
    .accompany__info {
        font-size: 28px;
        line-height: 50px;
    }
}
