.home__clients_partners {
    margin-top: 100px;
    width: 100%;
    min-height: 750px;
    height: 100vh;
    max-height: 1080px;
}

.clients_partners__content {
    margin: auto;
    height: 100%;
    width: 85%;
    max-width: 1300px;
    position: relative;
}

.clients_partners__line_vertical{
    border-left: 3px solid #001a54;
    height: 550px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 15%;
}
.clients__content {
    position: absolute;
    top: 10%;
    left: 2.5%;
    width: 45%;
    height: 80%;
}
.clients__title{
    text-align: center;
    font-size: 30px;
}
.clients__column_left{
    position: absolute;
    top:7%;
    left:0;
    width: 50%;
    height: 93%;
}
.clients__column_right{
    position: absolute;
    top:7%;
    right:0;
    width: 50%;
    height: 93%;
}

.clinets_partners__example {
    margin:auto;
    margin-top: 50px;
    width: 250px;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    border: 8px;
    border-color: white;
    border-style: solid;
    background-image: url(/static/media/_navbar/niktel_logo_ru.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 4px #001a54, 0 0 10px rgba(0,0,0,0.5);

}


.clients_partners__link{
    display: block;
    height: 100%;
}

.clinets_partners__example:hover{
    box-shadow: 0 0 4px #001a54;
}

.partners__content {
    position: absolute;
    top: 10%;
    right: 2.5%;
    width: 45%;
    height: 80%;
}

.cont{
    width: 100%;
    height: 100%;
    position: relative;
}
.partners__title{
    text-align: center;
    font-size: 30px;
}
.partners__column_left{
    position: absolute;
    top:7%;
    left:0;
    width: 50%;
    height: 93%;
}
.partners__column_right{
    position: absolute;
    top:7%;
    right:0;
    width: 50%;
    height: 93%;
}

.clients__Tenex{
    background-image: url(/static/media/home/clients/Tenex.png);
}
.clients__Gpbra{
    background-image: url(/static/media/home/clients/Gpbra.png);
}
.clients__Bhsd{
    background-image: url(/static/media/home/clients/Bhsd.png);
}

.clients__RosEnergoAtom{
    background-image: url(/static/media/home/clients/REA.jpg);
}
.clients__Uranium{
    background-image: url(/static/media/home/clients/Uranium.png);
}
.clients__Tgc{
    background-image: url(/static/media/home/clients/Tgc.png);
}




.partners__Dell{
    background-image: url(/static/media/home/partners/DELL_EMC.svg);
}
.partners__Citrix{
    background-image: url(/static/media/home/partners/Citrix.jpg);
}
.partners__MikroTik{
    background-image: url(/static/media/home/partners/MikroTik.png);
}

.partners__Cisco{
    background-image: url(/static/media/home/partners/Cisco.png);
}
.partners__VMware{
    background-image: url(/static/media/home/partners/VMware.png);
}
.partners__Comptek{
    background-image: url(/static/media/home/partners/Comptek.jpg);
}



@media (max-width: 319px) {
    .clients_partners__content {
        max-width: 300px;
    }
    .clients_partners__line_vertical{
        display: none;
    }
    .home__clients_partners {
        height: 100vh;
    }
    .clients__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .clients__title{
        font-size: 18px;
        height: 100px;
    }
    .clients__column_left{
        top: 11%;
        height: 89%;
    }
    .clients__column_right{
        top: 11%;
        height: 89%;
    }
    .partners__content {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 50%;
    }
    .partners__title{
        font-size: 18px;
    }
    .partners__column_left{
        top: 11%;
        height: 89%;
    }
    .partners__column_right{
        top: 11%;
        height: 89%;
    }
    .clinets_partners__example {
        margin:auto;
        margin-top: 20px;
        width: 100px;
        height: 40px;
    }
}

@media (min-width: 320px) and (max-width: 375px){
    .clients_partners__content {
        max-width: 300px;
    }
    .clients_partners__line_vertical{
        display: none;
    }
    .home__clients_partners {
        height: 100vh;
    }
    .clients__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .clients__title{
        font-size: 22px;
        height: 100px;
    }
    .clients__column_left{
        top: 11%;
        height: 89%;
    }
    .clients__column_right{
        top: 11%;
        height: 89%;
    }
    .partners__content {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 50%;
    }
    .partners__title{
        font-size: 22px;
    }
    .partners__column_left{
        top: 11%;
        height: 89%;
    }
    .partners__column_right{
        top: 11%;
        height: 89%;
    }
    .clinets_partners__example {
        margin:auto;
        margin-top: 20px;
        width: 130px;
        height: 52px;
    }
}   
@media (min-width: 376px) and (max-width: 425px){
    .clients_partners__line_vertical{
        display: none;
    }
    .home__clients_partners {
        height: 100vh;
    }
    .clients__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .clients__title{
        font-size: 26px;
        height: 100px;
    }
    .clients__column_left{
        top: 11%;
        height: 89%;
    }
    .clients__column_right{
        top: 11%;
        height: 89%;
    }
    .partners__content {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 50%;
    }
    .partners__title{
        font-size: 26px;
    }
    .partners__column_left{
        top: 11%;
        height: 89%;
    }
    .partners__column_right{
        top: 11%;
        height: 89%;
    }
    .clinets_partners__example {
        margin:auto;
        margin-top: 20px;
        width: 150px;
        height: 60px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .clients_partners__content {
        max-width: 400px;
    }
    .clients_partners__line_vertical{
        display: none;
    }
    .home__clients_partners {
        height: 100vh;
    }
    .clients__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .clients__title{
        font-size: 26px;
        height: 100px;
    }
    .clients__column_left{
        top: 11%;
        height: 89%;
    }
    .clients__column_right{
        top: 11%;
        height: 89%;
    }
    .partners__content {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 50%;
    }
    .partners__title{
        font-size: 26px;
    }
    .partners__column_left{
        top: 11%;
        height: 89%;
    }
    .partners__column_right{
        top: 11%;
        height: 89%;
    }
    .clinets_partners__example {
        margin:auto;
        margin-top: 20px;
        width: 175px;
        height: 70px;
    }
    





}




@media(min-width: 769px) and (max-width: 1022px) {
    .clients__title {
        font-size: 18px;
    }
    .partners__title {
        font-size: 18px;
    }
    .clinets_partners__example {
        margin-top: 25px;
        width: 140px;
        height: 56px;
    }
    .clients_partners__content {
        max-width: 700px;
    }
    .clients_partners__line_vertical{
        border-left: 2px solid #001a54;
        height: 300px;
        
    }
    
}

@media(min-width: 1023px) and (max-width: 1439px) {
    .clients__title {
        font-size: 22px;
    }
    .partners__title {
        font-size: 22px;
    }
    .clinets_partners__example {
        margin-top: 40px;
        width: 180px;
        height: 72px;
    }
    .clients_partners__content {
        max-width: 1000px;
    }
    .clients_partners__line_vertical{
        border-left: 3px solid #001a54;
        height: 400px;
        
    }
}

@media(min-width: 1919px) {
    .clients__title{
        font-size: 32px;
    }
    .partners__title{
        font-size: 32px;
    }
    .clinets_partners__example {
        margin-top: 50px;
        width: 300px;
        height: 120px;
    }
    .clients_partners__content {
        max-width: 1700px;
    }
}