.home__develop {
    width: 100%;
    min-height: 750px;
    height: 100vh;
    max-height: 1080px
    
}

.develop__content {
    margin-top: 0%;
    margin:auto;
    width: 85%;
    max-width: 1800px;
    height: 100%;
    z-index: 2;
    display: flex;
    position: relative;
    background-color: #fff;
}

.develop__column_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    position: relative;
}

.develop__title {
    margin-top: 210px;
    width: 100%;
    text-align:center;
    font-size: 28px;
}
.develop__info {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    font-size: 22px;
    line-height: 45px;
    text-align: justify;
    background-color: #fff;
}
._tezis{
    text-align: left;
    margin-top: 10px;
}


.develop__column_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    position: relative;
}

.develop__image {
    margin:auto;
    margin-top: 135px;
    width: 90%;
    height: 75%;
    border-radius: 15px;
    background-image: url(/static/media/home/slides/test_3.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

@media(max-width: 768px){
    .develop{
        max-height: none;
        height: auto;
    }
    .develop__content {
        display: block;
    }

    .develop__column_left{
        position: static;
        padding-top: 100px;
        width: 100%;
        height: auto;
    }
    .develop__title{
        font-size: 22px;
        margin-top: 0;
    }
    .develop__info{
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        text-align: justify;
    }
    ._tezis{
        margin-top: 10px;
        text-align: left;
    }
    
    .develop__column_right{
        position: static;
        width: 100%;
        height: auto;
    }
    .develop__image{
        margin-top: 40px;
        width: 100%;
        height: 416px;
    }
    

}

@media(min-width: 769px) and (max-width: 1022px) {
    .develop__title {
        font-size: 18px;
    }
    .develop__info {
        font-size: 12px;
        line-height: 28px;
    }
}

@media(min-width: 1023px) and (max-width: 1439px) {
    .develop__title {
        font-size: 22px;
    }
    .develop__info {
        font-size: 16px;
        line-height: 32px;
    }

}

@media(min-width: 1919px) {
    .develop__title {
        font-size: 32px;
    }
    .develop__info {
        font-size: 28px;
        line-height: 50px;
    }
}