
body {
    width: 100%;
    position: relative;
}
.home {
    font-family: "Open Sans", sans-serif;
    /* background-color: grey;
    z-index: 1000; */
}
.attantion_mobile{
    display: none;
}

@media(max-width: 768px){
    .home{
        /* display: none; */
    }
    /* .attantion_mobile{
        position: absolute;
        top:20%;
        left:10%;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        color: #DCDCDC;
        display: block;
    } */
}




