.home__security {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.security__content {
    margin:auto;
    width: 85%;
    max-width: 1800px;
    height: 100%;
    position: relative;
}

.security__column_top {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 55%;
    position: relative;
}
.security__text {
    width: 100%;
    height: 100%;
    position: relative;
}
.security__title {
    position: absolute;
    top: 19%;
    left: 0%;
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.security__info_top{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    font-size: 22px;
    line-height: 40px;
    text-align: justify;
}
.security__info_left{
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 22px;
    line-height: 40px;
}
.security__info_right{
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 22px;
    line-height: 40px;
}


/* @media (max-width: 2000px) {
    .security__title {
        font-size: calc(28px + (35 - 28) * ((100vw - 768px) / (2000 - 768)));
    }
    .security__info {
        font-size: calc(16px + (32 - 16) * ((100vw - 768px) / (2000 - 768)));
        line-height: calc(30px + (70 - 30) * ((100vw - 768px) / (2000 - 768)));
    }
} */

.security__column_bottom {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 80%;
    height: 40%;
    position: relative;
}
.security__image {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 80%;
    border-radius: 15px;
    background-image: url(/static/media/home/content__security.png);
    background-size: cover;
    background-position: 50% 50%;
}

@media(min-width: 769px) and (max-width: 1022px) {
    .security__title {
        font-size: 18px;
    }
    .security__info_top {
        font-size: 12px;
        line-height: 28px;
        left:0;
        width: 100%;
    }
    .security__info_left {
        font-size: 12px;
        line-height: 28px;
        left:0;
    }
    .security__info_right {
        font-size: 12px;
        line-height: 28px;
        right:0;
    }
}

@media(min-width: 1023px) and (max-width: 1439px) {
    .security__title {
        font-size: 22px;
    }
    .security__info_top {
        font-size: 16px;
        line-height: 32px;
        
    }
    .security__info_left {
        font-size: 16px;
        line-height: 32px;
        
    }
    .security__info_right {
        font-size: 16px;
        line-height: 32px;
        left: 55%;
       
    }
    .security__column_top {
        height: 55%;
    }
    .security__column_bottom {
        height: 40%;
    }

}

@media(min-width: 1919px) {
    .security__title {
        font-size: 32px;
    }
    .security__info_top {
        font-size: 28px;
        line-height: 50px;
    }
    .security__info_left {
        top: 55%;
        left:5%;
        font-size: 28px;
        line-height: 50px;
    }
    .security__info_right {
        top: 55%;
        left: 50%;
        font-size: 28px;
        line-height: 50px;
    }
    .security__column_top {
        height: 60%;
    }
    .security__column_bottom {
        height: 35%;
    }

}