.home__slideshow {
    position: relative;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.slideshow__prev {
    position: absolute;
    top: 42%;
    left: 0;
    width: 40px;
    height: 120px;
    z-index: 2;
    opacity: 0.3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.slideshow__next {
    position: absolute;
    top: 42%;
    right: 0;
    width: 40px;
    height: 120px;
    z-index: 2;
    opacity: 0.3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}
.slideshow .fa-chevron-left {
    margin-top: 100%;
    margin-left: 17%;
    z-index: 3;
    font-size: 40px;
    opacity: 0.8;
    color: black;
}

.slideshow .fa-chevron-right {
    margin-top: 100%;
    margin-left: 17%;
    z-index: 3;
    font-size: 40px;
    opacity: 0.8;
    color: black;
}

.slideshow__slider {
    height: 100%;
    outline: none;
}

.slider__example_1 {
    width: 100%;
    position: relative;
    background-image: url(/static/media/home/slides/slider__develop.png);
    background-size: cover;
    background-position: 50% 50%;
}

.slider__example_1:active,
.slider__example_1:focus {
    outline: none;
    border: none;
}
.slider__example_2:active,
.slider__example_2:focus {
    outline: none;
    border: none;
}
.slider__example_3:active,
.slider__example_3:focus {
    outline: none;
    border: none;
}

.slider__image {
    width: 100%;
    height: 100vh;
}

.slider__text_1 {
    position: absolute;
    top: 14%;
    left: 10%;
    z-index: 3;
    font-size: 40px;
    color: #fff;
    text-shadow: black 0 0 5px;
}


.slider__button_1 {
    position: absolute;
    top: 23%;
    left: 10%;
    width: 150px;
    height: 40px;
    z-index: 3;
    background-color: #0000cd;
    border-radius: 15px;
    text-align: center;
    border: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
}

.slider__link {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
    outline: none;
}

.slider__example_2 {
    position: relative;
    background-image: url(/static/media/home/slides/Accompany.png);
    background-size: cover;
    background-position: 50% 50%;
}

.slider__text_2 {
    position: absolute;
    top: 14%;
    right: 10%;
    z-index: 3;
    font-size: 40px;
    color: #fff;
    text-shadow: black 0 0 5px;
}

.slider__button_2 {
    position: absolute;
    top: 23%;
    right: 10%;
    width: 150px;
    height: 40px;
    z-index: 3;
    background-color: #0000cd;
    border-radius: 15px;
    text-align: center;
    border: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
}

.slider__example_3 {
    position: relative;
    background-image: url(/static/media/home/slides/Security.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.slider__text_3 {
    position: absolute;
    top: 14%;
    left: 10%;
    z-index: 3;
    font-size: 40px;
    color: #fff;
    text-shadow: black 0 0 5px;
}

.slider__button_3 {
    position: absolute;
    top: 23%;
    left: 10%;
    width: 150px;
    height: 40px;
    z-index: 3;
    background-color: #0000cd;
    border-radius: 15px;
    text-align: center;
    border: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
}

@media(max-width: 768px){

    .slider__text_1 {
        left: 5%;
        width: 90%;
        font-size: 35px;
    }
    .slider__text_2 {
        left: 5%;
        width: 90%;
        font-size: 35px;
    }
    .slider__text_3 {
        left: 5%;
        width: 90%;
        font-size: 35px;
    }
    .slider__button_1 {
        top: 30%;
        left: 5%;
        width: 140px;
        height: 40px;
    }

    .slider__button_2 {
        top: 30%;
        left: 5%;
        width: 140px;
        height: 40px;
    }
    .slider__button_3 {
        top: 30%;
        left: 5%;
        width: 140px;
        height: 40px;
    }
    .slider__link {
        font-size: 22px;
    }
}

@media(min-width: 769px) and (max-width: 1022px) {
    .slider__text_1 {
        font-size: 30px;
    }
    .slider__text_2 {
        font-size: 30px;
    }
    .slider__text_3 {
        font-size: 30px;
    }
    .slider__button_1 {
        width: 120px;
        height: 35px;
    }

    .slider__button_2 {
        width: 120px;
        height: 35px;
    }
    .slider__button_3 {
        width: 120px;
        height: 35px;
    }
    .slider__link {
        font-size: 18px;
    }

}

@media(min-width: 1023px) and (max-width: 1439px) {
    .slider__text_1 {
        font-size: 30px;
    }
    .slider__text_2 {
        font-size: 30px;
    }
    .slider__text_3 {
        font-size: 30px;
    }
    .slider__button_1 {
        width: 120px;
        height: 35px;
    }

    .slider__button_2 {
        width: 120px;
        height: 35px;
    }
    .slider__button_3 {
        width: 120px;
        height: 35px;
    }
    .slider__link {
        font-size: 18px;
    }
}

@media(min-width: 1919px) {
    .slider__text_1 {
        font-size: 50px;
    }
    .slider__text_2 {
        font-size: 50px;
    }
    .slider__text_3 {
        font-size: 50px;
    }
    .slider__button_1 {
        top: 25%;
        width: 170px;
        height: 45px;
    }

    .slider__button_2 {
        top: 25%;
        width: 170px;
        height: 45px;
    }
    .slider__button_3 {
        top: 25%;
        width: 170px;
        height: 45px;
    }
    .slider__link {
        font-size: 26px;
    }
}