.footer {
    position: absolute;
    width: 100%;
    height: 90px;
    position: relative;
    background-color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
    
}

.footer__content{
    /* position: absolute; */
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    height:100%;
    position: relative;
    background-color: #DCDCDC;
}

.footer__logo {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 40px;
    height: 40px;
}

.footer__info{
    position: absolute;
    top:5%;
    left:8%;
}

.footer__date{
    position: absolute;
    top: 30%;
    left: 8%
}
@media(max-width: 768px){
    .footer__logo{
       left: -5%;
    }
}

@media(min-width: 769px) and (max-width: 1022px) {
    .footer__logo {
        left: 0%;
    }
    .footer__info{
        font-size: 14px;

    }
    .footer__date{
        font-size: 14px;

    }
}

@media(min-width: 1023px) and (max-width: 1439px) {

}

@media(min-width: 1919px) {
    .footer__logo {
        left: 5%;
    }
    .footer__info{
        font-size: 18px;

    }
    .footer__date{
        font-size: 18px;

    }
}