.footer {
    position: absolute;
    width: 100%;
    height: 90px;
    position: relative;
    background-color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
    
}

.footer__content{
    margin: auto;
    width: 85%;
    height:100%;
    position: relative;
    background-color: #DCDCDC;
}

.footer__logo {
    position: absolute;
    top: 5%;
    left: 0;
    width: 40px;
    height: 40px;
}

.footer__info{
    position: absolute;
    top:5%;
    left:55px;
}


@media(max-width: 768px){
    .footer__logo{
       left: -20px;
    }
    .footer__info{
        left: 25px;
        font-size: 14px;

    }
}

@media(min-width: 769px) and (max-width: 1022px) {
    .footer__logo {
        left: 0%;
    }
    .footer__info{
        font-size: 14px;

    }
}

@media(min-width: 1023px) and (max-width: 1439px) {

}

@media(min-width: 1919px) {
    .footer__logo {
        left: 200px;
    }
    .footer__info{
        left: 250px;
        font-size: 18px;

    }
}