
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        max-height: 100px;
        min-height: 75px;
        z-index: 3;
       
        background-color: #fff;

        /* Закругленные края */
        border: 3px;
        border-color: rgba(0, 0, 0, 0.3);
        border-bottom-style: solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        /* ---------------- */

        /* opacity: 0.4; */
        font-family: "Open Sans", sans-serif;
    }

    .header__body {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
    }

    .header__column {
    }
    .header__column_logo {
        margin-top: 15px;
        margin-left: 60px;

        width: 170px;
        height: auto;
    }

    

    .logo__img {
        width: 100%;
        height: auto;
    }

    .header__logo {
    }
    .header__burger {
    }
    .header__nav {
    }
    .nav {
    }
    .nav__menu {
    }
    .menu {
    }
    .menu__list {
        display: flex;
        margin-right: 100px;
        /* background-color: red; */
        font-size: 26px;
    }
    .menu__list li {
        list-style: none;
        margin-top: 26px;
        /* margin-right: 90px; */
        margin-right: 70px;
        margin-left: 70px;
        /* margin-left: 90px; */
    }
    .menu__item {
    }

    .menu__link {
        color: black;
        
        text-decoration: none;
    }
    .menu__link:hover {
        color: #001a54;
    }

    

    /* .header__lang {
    margin: 29px 0px 0px 20px;
    height: 25px;
    width: 25px;

}
.lang {
   
    
}
.lang__selected {
    
}

.lang__selected:hover +.lang__list {
    display:block;
}

.lang__list {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
}
.lang__item {
    background-color: #f8f8f8;
    border-radius: 4px;
    
}

.lang__link{
    text-decoration: none;
    color: black;
    
}
.lang__link:hover{
    background-color: rgb(235, 235, 240);
    border-radius: 4px;
} */

    .header__contact {
        /* background-color: red; */
        margin-top: 27px;
        margin-right: 60px;
    }
    .contact {
        display: flex;
        /* margin: 27px 20px 0px 0px; */
    }
    .contact__icon {
        color: black;
    }
    .contact__phone {
    }
    .phone {
    }
    .phone__link {
        color: black;
        font-size: 26px;
        text-decoration: none;
    }
    .phone__link:hover {
        color: #001a54;
    }
    @media (max-width: 2000px){
        .header__column_logo {
            width: calc(140px + (170 - 140) * ((100vw - 1338px) / (2000 - 1338)));
        }
        .menu__list {
            font-size: calc(18px + (26 - 18) * ((100vw - 1338px) / (2000 - 1338)));
        }
        .menu__list li {
            margin-right: calc(50px + (70 - 50) * ((100vw - 1338px) / (2000 - 1338)));
            margin-left: calc(50px + (70 - 50) * ((100vw - 1338px) / (2000 - 1338)));
        }
        .phone__link {
            font-size: calc(18px + (26 - 18) * ((100vw - 1338px) / (2000 - 1338)));
        }
    }



