

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    max-height: 100px;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;

    /* Закругленные края */
    border: 3px;
    border-color:rgba(0, 0, 0, 0.3);
    border-bottom-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* ---------------- */

    opacity: 0.4;
    
}


.header__body{
    position: relative;
    z-index: 2;
    display:flex;
    justify-content: space-between;
   
}

.header__column {
    /* background-color: blue; */

}
.header__column_logo {
    
    /* background-color: red; */
    /* width: 175px; */
    margin-top: 15px;
    margin-left: 60px;
    /* background-color: red; */
    width: 8%;
    
}

.logo__img{
    /* width: 175px; */
    /* width: 130px; */
    width: 100%;
    height: auto;
}

/* @media (max-width: 2500px){
    
    .header__column_logo {
        width: calc(120px + (175-120) * ((100vw-1338px)/(2500-1338)))
        height: auto
    }
    .logo__img{
        width: calc(120px + (175-120) * ((100vw-1338px)/(2500-1338)))
    }
} */
.header__logo {

}
.header__burger {
}
.header__nav {
}
.nav {
}
.nav__menu {
    
}
.menu {
    
}
.menu__list {
    display: flex;
    margin-right: 100px;
    /* background-color: red; */
    
}
.menu__list li{
    list-style: none;
    margin-top: 26px;
    margin-right: 90px;
    margin-left: 90px;
    
    
}
.menu__item {
    
}

.menu__link {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.menu__link:hover{
    color: #001a54;
    
}




/* .header__lang {
    margin: 29px 0px 0px 20px;
    height: 25px;
    width: 25px;

}
.lang {
   
    
}
.lang__selected {
    
}

.lang__selected:hover +.lang__list {
    display:block;
}

.lang__list {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
}
.lang__item {
    background-color: #f8f8f8;
    border-radius: 4px;
    
}

.lang__link{
    text-decoration: none;
    color: black;
    
}
.lang__link:hover{
    background-color: rgb(235, 235, 240);
    border-radius: 4px;
} */



.header__contact {
    /* background-color: red; */
    margin-top: 27px;
    margin-right: 60px;
}
.contact {
    display: flex;
    /* margin: 27px 20px 0px 0px; */
}
.contact__icon {
    color: black;
}
.contact__phone {
    
}
.phone {
}
.phone__link {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.phone__link:hover{
    color:#001a54;
}




