.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 5;
    background-color: #fff;
    border: 3px;
    border-color: rgba(0, 0, 0, 0.3);
    border-bottom-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* opacity: 0.4; */
    font-family: "Open Sans", sans-serif;
}

.header__body {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.header__column_logo {
    margin-top: 10px;
    margin-left: 60px;
    width: 170px;
    height: auto;
}

.logo__img {
    width: 100%;
    height: auto;
}

.header__burger {
    display: none;
}

.menu__list {
    display: flex;
    margin-right: 100px;
    font-size: 24px;
}

.menu__list li {
    margin-top: 23px;
    margin-right: 70px;
    margin-left: 70px;
    list-style: none;
}

.menu__telephone_mobile{
    display: none;
}

.menu__link {
    color: black;
    text-decoration: none;
}
.menu__link:hover {
    color: #001a54;
}

.header__contact {
    margin-top: 24px;
    margin-right: 60px;
}
.contact {
    display: flex;
}
.contact__icon {
    color: black;
}

.phone__link {
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.phone__link:hover {
    color: #001a54;
}
.burger__body{
    display: none;
}

@media (max-width: 768px) {
    .header{ 
        height: 65px;
        z-index: 6;
        font-family: "Open Sans", sans-serif;

    }
    .header._active{
        /* border: 2px ;
        border-color: #001a54;
        border-bottom-style: solid;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: all 0.4s ease 0s; */
        /* border: 0;
        border-radius: 0;
        transition: all 0.4s ease 0s; */
    }

    /* .header::before{
        position:absolute;
        top:0;
        left:0;
        width: 100px;
        border-bottom: 2px;
        border-color: #001a54;
        border-bottom-style: solid;
    } */
    .header__body {
        display: block;
        position: relative;
        z-index: 6;
    }
    .header__column_logo {
        z-index: 7;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        top: 10%;
        left: 7.5%;
        width: 140px;
    }
    .header__column_burger{
        position: absolute;
        top: 30%;
        right: 7.5%;
    }
    .header__burger {
        position: absolute;
        top: 0%;
        right: 0%;
        z-index: 7;
        display: block;
        width: 35px;
        height: 20px;
        cursor: pointer;
        position: relative;
    }
    .header__burger span,
    .header__burger::before,
    .header__burger::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #001a54;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

   .header__burger._active span{
    transform: scale(0) translate(0px, -50%);
   }
   .header__burger._active::before{
    top:50%;
    transform: rotate(-45deg) translate(0px,-50%);
   }
   .header__burger._active::after{
    bottom:50%;
    transform: rotate(45deg) translate(0px,50%);
   }

    .nav__menu {
        display: none;
    }

    .menu__list{
        display: block;
        background-color: grey;
    }
    

    .header__contact {
        display: none;
    }

    .burger__body{
        display: block;
        position: fixed;
        z-index: 100;
        top: -100%;
        right: 0%;
        width: 100%;
        height: 240px;
        z-index:5;
        background: white; 
        font-family: "Open Sans", sans-serif;
        border: 3px;
        border-color: rgba(0, 0, 0, 0.3);
        border-bottom-style: solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: top 0.4s ease 0s;       
    }
    .burger__body::before{
        content: "";
        
        

    }
    

    .burger__body._active{
        top: 60px;
        /* top: 65px; */
    }
    .burger__body._active::before{
        /* position: fixed;
        top: 65px;
        left: 7.5%;
        width: 85%;
        border: 2px;
        border-top-style:solid;
        border-color: #001a54;
        transition: all 0.4s ease 0s; */
    }


    .burger__info{
        margin-top: 35px;
        width: 100%;
        height: 60%;      
    }
    .info__list{
        text-align: center;
    }
    .info__item{
        margin-top:22px;
    }
    .menu__link{
        font-size: 22px;
        background-color: white;
        color: #001a54;
        border: 2px;
        border-color: #001a54;
        border-style: solid;
        border-radius: 25px;
        padding: 7px;
    }
    .phone__link{
        color: #001a54;
        font-size: 22px;
    }
    .menu__telephone_mobile{
        display: block;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        height: 60px;
    }
    .header__column_logo {
        width: 100px;
        margin-top: 15px;
    }
    .menu__list {
        font-size: 16px;
    }
    .menu__list li {
        margin-right: 30px;
        margin-left: 30px;
    }
    .phone__link {
        font-size: 14px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .header {
        height: 70px;
    }
    .header__column_logo {
        margin-top: 15px;
        width: 120px;
    }

    .menu__list {
        font-size: 18px;
    }
    .menu__list li {
        margin-right: 40px;
        margin-left: 40px;
    }
    .phone__link {
        font-size: 16px;
    }
}

@media (min-width: 1921px) {
    .header {
        height: 90px;
    }
    .header__column_logo {
        width: 190px;
    }
    .menu__list {
        font-size: 26px;
    }
    .menu__list li {
    }
    .phone__link {
        font-size: 24px;
    }
}
