.home__scrollUp {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    z-index: 3;
    border: 4px;
    border-style: solid;
    border-color: #001a54;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(25px);
    border-radius: 40px;
    outline: none;
    text-align:center;
}


.home__scrollUp_active {
    outline: none;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.home__scrollUp_footer{
    transform: translateY(-40px);
}


.scrollUp__icon{
    margin-top: 5px;
    font-size: 30px;
    color: #001a54;
}

@media(max-width: 768px){
    .home__scrollUp{
        display: none;
    }
}

@media(min-width: 769px) and (max-width: 1022px) {
    .home__scrollUp {
        right: 10px;
        width: 32px;
        height: 32px;
        border: 3px;
        border-style: solid;
        border-color: #001a54;
       
        
    }
    .scrollUp__icon{
        margin-top: 4px;
        font-size: 20px;
    }
}

@media(min-width: 1023px) and (max-width: 1439px) {
    .home__scrollUp {
        right: 30px;
        width: 40px;
        height: 40px;
        
    }
    .scrollUp__icon{
        margin-top: 3px;
        font-size: 25px;
    }
}

@media(min-width: 1919px) {
    .home__scrollUp {
        right: 100px;
        width: 60px;
        height: 60px;
        border: 5px;
        border-style: solid;
        border-color: #001a54;
    }
    .scrollUp__icon{
        margin-top: 5px;
        font-size: 35px;
    }
}