.contacts{
    
    width: 100%;
    height: 1080px;
    position: relative;
}

.contacts__notification{
    position: absolute;
    top:20%;
    left:10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #DCDCDC;
    

}