.contacts__chat {
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    height: 100vh;
    /* background-color: green; */
    
}
.chat__content {
    width: 85%;
    height: 100%;
    max-width: 1500px;
    margin:auto;
    /* margin-top: 10%; */
   
    /* background-color: orange; */
    position: relative;
    /* text-align: center; */
}
.chat__title {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    /* background-color: blue; */
}

.chat__form {
    position: absolute;
    top: 30%;
    
    width: 100%;
    height: 70%;
    /* background-color: blue; */
}

.form__content {
    
    text-align: center;
   
    
}
.form__name {
    
}

.input {
    width: 60%;
    /* height: 15%; */
    /* color: blue; */
    color: #001a54;    

    padding: 13px;
    line-height: 22px;
    margin-bottom: 10px;
    border-radius: 10px;
    
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    outline: none;
}

.input:focus{
    border-color: blue;
}
.form__phone {
}
.phone {
}

.form__email {
}
.email {
}

.form__message {
}
.message {
}
.message__input {
    width: 60%;
    height: 150px;
    /* height: 15%; */
    color: #001a54;    
    padding: 13px;
    line-height: 22px;
    margin-bottom: 10px;
    border-radius: 10px;
    
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    outline: none;
}
.message__input:focus{
    border-color: blue;
}
.form__button {
}
.button__input {
    /* color: #001a54;    */
    /* color: red; */
    width: 15%;
    /* height: auto; */
    background-color: blue ;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    outline: none;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;

}
.button__input:active{
    border-color: white;
}
