.contacts__map {
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    height: 100vh;
    /* background-color: red; */
    /* display: none; */
   
}

.map__content{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin:auto;
   
    /* background-color: orange; */
    position: relative;

    
}

.map__column_left{
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    /* background-color: red; */
    
}
.map__info{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 39%;
    /* background-color: grey; */
    font-size: 20px;
    
}
.map__download{
    text-decoration: none;
}

.map__column_right{
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    /* background-color: blue; */
    
}

.map__yandexMap{
    width: 100%;
    height: 60%;
    margin: auto;
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(/static/media/contacts/yandexMap.jpg);
    background-size: cover;
}




