/* @media (min-width:768px) { */
    body {
        /* background-color: yellow; */
        font-family: "Open Sans", sans-serif;

        max-width: 100%;
        position: relative;
    }
    .home {
        /* margin-top: 70px; */
        /* background-color: red; */
    }

    .home__slideshow {
        position: relative;
        /* height: 869px; */
        /* background-color: yellow; */
        height: 100%;
       

    }

    .slideshow__prev {
        position: absolute;

        width: 40px;
        height: 120px;
        background-color: white;
        opacity: 0.3;
        top: 42%;
        left: 0;
        z-index: 2;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .slideshow__next {
        position: absolute;

        width: 40px;
        height: 120px;
        background-color: white;
        opacity: 0.3;
        top: 42%;
        right: 0;
        z-index: 2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .slideshow__slider {
        /* opacity: 0.4; */
        height: 100%;
        background-color: red;
        outline: none;
       

    }

    /* .slideshow__slider:focus{
        outline: none;
        border: 5px;
        border-style: solid;
        border-color: red;
    } */

    .slider__example_1 {
        /* width: 100vw;
        height: 100vh; */
        width: 100%;
        position: relative;
        background-image: url(/static/media/home/slides/Develop.jpg);
        background-size: cover;
        /* background-color: red; */
        /* outline: none;
         */

    }
    .slider__example_1:active, .slider__example_1:focus {
        outline: none;
        
    }
    .slider__example_2:active, .slider__example_2:focus{
        outline: none;
        

    }.slider__example_3:active, .slider__example_3:focus{
        outline: none;
        

    }


    .slider__image {
        width: 100%;
        /* height: 972px; */
        height: 100vh;
        /* outline: none;
        border:0; */
        
        
    }

    .slider__text_1 {
        position: absolute;
        top: 16%;
        left: 10%;
        font-size: 40px;
        color: #fff;
        z-index: 3;
    }

    .slider__button_1 {
        position: absolute;
        top: 25%;
        left: 10%;
        width: 150px;
        height: 40px;
        background-color: #0000cd;
        z-index: 3;
        border-radius: 15px;
        text-align: center;
        border: 2px;
        border-color:rgba(0, 0, 0, 0.3);
        border-style: solid;
    }

    .slider__link {
        /* margin-left: 25px; */

        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        color: white;
        font-size: 22px;
        font-weight: 700;
    }

    .slider__example_2 {
        /* width: 100%;
    height: 100%; */
        position: relative;
        background-image: url(/static/media/home/slides/Accompany.png);
        background-size: cover;
    }

    .slider__text_2 {
        position: absolute;
        top: 16%;
        right: 10%;
        font-size: 40px;
        color: #fff;
        z-index: 3;
    }

    .slider__button_2 {
        position: absolute;
        top: 25%;
        right: 10%;
        width: 150px;
        height: 40px;
        background-color: #0000cd;
        z-index: 3;
        border-radius: 15px;
        text-align: center;
        
    }

    .slider__example_3 {
        /* width: 100%;
    height: 100%; */
        position: relative;
    }

    .slider__text_3 {
        position: absolute;
        top: 16%;
        left: 10%;
        font-size: 40px;
        color: #fff;
        z-index: 3;
    }

    .slider__button_3 {
        position: absolute;
        top: 25%;
        left: 10%;
        width: 150px;
        height: 40px;
        background-color: #0000cd;
        z-index: 3;
        border-radius: 15px;
        text-align: center;
    }

    /* Создание IT-инфраструктуры */
    .home__develop {
        font-family: "Open Sans", sans-serif;
        margin-top: 50px;
        width: 100%;

        height: 100vh;

        /* background-color: blue; */
        position: relative;
    }

    .develop__content {
        margin-top: 0%;
        margin-left: 10%;
        margin-right: 10%;
        height: 100%;
        /* width: 100%; */
        /* max-width: 2000px; */

        /* background-color: blue; */
        z-index: 2;
        display: flex;
        position: relative;
        /* background-color: red; */
    }

    .develop__column_left {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        position: relative;
    }

    .develop__text {
    }
    .develop__title {
        position: absolute;
        background-color: #fff;
        top: 10%;
        left: 0;
        font-size: 28px;
    }
    .develop__info {
        position: absolute;
        background-color: #fff;
        top: 17%;
        left: 0;
        font-size: 22px;
        line-height: 50px;
        width: 90%;
        text-align: justify;
    }

    .develop__column_right {
        /* background-color: #DCDCDC; */
        position: absolute;
        top: 7.5%;
        right: 0;
        width: 40%;
        height: 80%;
        position: relative;
    }

    .develop__image {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        /* background-color: red; */
        border-radius: 15px;

        background-image: url(/static/media/home/slides/test_3.jpg);
        background-size: cover;
    }
    /* .develop_image > im{
    width: auto;
    height:auto;
} */

    /* Сопрождение IT-инфраструктуры */

    .home__accompany {
        font-family: "Open Sans", sans-serif;
        width: 100%;
        height: 100vh;

        /* background-color: green; */
        position: relative;
    }
    .accompany__content {
        margin-left: 10%;
        margin-right: 10%;
        height: 100%;
        /* background-color: blue; */
        z-index: 2;
        display: flex;
        position: relative;
    }

    .accompany__column_left {
        /* background-color: #dcdcdc; */
        position: absolute;
        top: 7.5%;
        left: 0;
        width: 40%;
        height: 80%;
        position: relative;
    }
    .accompany__image {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        /* background-color: ; */
        border-radius: 15px;
        background-image: url(/static/media/home/slides/test_3.jpg);
        background-size: cover;
    }

    .accompany__column_right {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        position: relative;
    }

    .accompany__text {
    }
    .accompany__title {
        position: absolute;
        background-color: #fff;
        top: 12.5%;
        right: 5%;
        font-size: 28px;
    }
    .accompany__info {
        position: absolute;
        background-color: #fff;
        top: 17%;
        left: 5%;
        font-size: 22px;
        line-height: 50px;
        width: 90%;
        text-align: justify;
    }

    .home__security {
        font-family: "Open Sans", sans-serif;
        margin-top: 50px;
        width: 100%;
        height: 100vh;

        /* background-color: blue; */
        position: relative;
    }

    .security__content {
        margin-left: 7.5%;
        margin-right: 7.5%;
        height: 100%;
        /* background-color: green; */
        z-index: 2;
        position: relative;
    }
    .security__column_top {
        background-color: #fff;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 60%;
        position: relative;
        
    }
    .security__text {
        /* text-align: center; */
        /* background-color: red; */
    
    }
    .security__title {
        position: absolute;
        font-size: 28px;
        top: 19%;
        left: 38%;
        background-color: #fff;
    }

    .security__info {
        position: absolute;
        background-color: #fff;
        top: 30%;
        left: 5%;
        font-size: 22px;
        line-height: 50px;
        width: 90%;
        text-align: justify;
    }
    .security__column_bottom {
        position: absolute;
        bottom: 5%;
        left: 0%;
        width: 100%;

        height: 40%;
        /* background-color: #dcdcdc; */
        position: relative;
    }
    .security__image {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        /* background-color: red; */
        border-radius: 15px;
        background-image: url(/static/media/home/slides/test_3.jpg);
        background-size: cover;
    }

    .home__clients_partners {
        font-family: "Open Sans", sans-serif;
        margin-top: 50px;
        width: 100%;
        height: 800px;
        background-color: #fff;
    }

    .clients_partners__slideshow_2 {
        margin-left: 7.5%;
        margin-right: 7.5%;
        height: 800px;
        background-color: #fff;
        z-index: 2;
        position: relative;
    }

    .slideshow_2__title {
        position: absolute;
        font-size: 20px;

        top: 7.5%;
        left: 34%;
        background-color: #fff;
    }

    .slideshow_2__prev {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 33%;
        left: 15%;
        border-radius: 20px;
        opacity: 0.6;
        background-color: black;
    }
    .slideshow_2__next {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 33%;
        right: 15%;
        border-radius: 20px;
        opacity: 0.6;
        background-color: black;
    }

    .slideshow_2__slider_2 {
        position: absolute;
        left: 20%;
        top: 20%;

        width: 60%;
        height: 30%;
        /* background-color: yellow; */
        /* opacity: 0.4; */
        border-radius: 15px;
        position: relative;
        /* box-sizing: border-box; */
    }

    .slider_2__example_1 {
        /* background-color: red; */
        width: 100%;
        height: 1080px;
        border-radius: 15px;
        /* z-index:150; */
        display: flex;
        position: relative;
        outline: none;
    }
    .slider_2__example_2 {
        /* background-color: blue; */
        width: 100%;
        height: 100%;
        /* border-radius: 15px; */
        /* z-index:150; */
        outline: none;

    }
    .slider_2__example_3 {
        /* background-color: green; */
        width: 100%;
        height: 100%;
        /* border-radius: 15px; */
        /* z-index:150; */
        outline: none;

    }



    .slider_2__image {
        margin-top: 10px;
        margin-left: 30%;

        width: auto;
        height: 50px;
        border: 3px;
        border-radius: 15px;
        border-style: solid;
        border-color: #dcdcdc;
    }

    .slideshow_2 .fa-chevron-left {
        color: white;
        font-size: 20px;

        margin-top: 10px;
        margin-left: 12px;
    }

    .slideshow_2 .fa-chevron-right {
        color: white;

        font-size: 20px;
        margin-top: 10px;
        margin-left: 14px;
    }

    .slideshow .fa-chevron-left {
        color: black;
        font-size: 40px;
        opacity: 0.8;
        margin-top: 100%;
        margin-left: 17%;

        z-index: 3;
    }

    .slideshow .fa-chevron-right {
        color: black;
        font-size: 40px;
        opacity: 0.8;
        margin-top: 100%;
        margin-left: 17%;

        z-index: 3;
    }

    .home__scrollUp {
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 1000;
        width: 50px;
        height: 50px;
        background-color: blue;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
        transform: translateY(25px);
        border-radius: 40px;
    }

    .home__scrollUp_active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
/* }

@media(max-width:768px){
    .home{
        display:none;
    }
} */
