.home__accompany {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "Open Sans", sans-serif;
}
.accompany__content {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    z-index: 2;
    display: flex;
    position: relative;
    /* display: none; */
}

.accompany__column_left {
    /* background-color: #dcdcdc; */
    position: absolute;
    top: 7.5%;
    left: 0;
    width: 40%;
    height: 80%;
    position: relative;
}
.accompany__image {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    /* background-color: ; */
    border-radius: 15px;
    background-image: url(/static/media/home/slides/test_3.jpg);
    background-size: cover;
}

.accompany__column_right {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    position: relative;
}

.accompany__text {
}
.accompany__title {
    position: absolute;
    background-color: #fff;
    top: 12.5%;
    right: 5%;
    font-size: 26px;
}
.accompany__info {
    position: absolute;
    background-color: #fff;
    top: 17%;
    left: 5%;
    font-size: 22px;
    line-height: 50px;
    width: 90%;
    text-align: justify;
}
