.home__security {
    margin-top: 50px;
    width: 100%;
    height: 100vh;

    /* background-color: blue; */
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.security__content {
    margin-left: 7.5%;
    margin-right: 7.5%;
    /* margin-top: 10%; */
    width: 85%;
    height: 100%;
    /* background-color: green; */

    position: relative;
}
.security__column_top {
    /* background-color: black; */
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 45%;
    position: relative;
}
.security__text {
    /* text-align: center; */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    position: relative;
}
.security__title {
    position: absolute;
    font-size: 26px;
    /* font-size: calc(14px + 2 * ((100vw - 420px) / 860)); */
    top: 19%;
    left: 0%;
    width: 100%;
    text-align: center;
    /* background-color: red; */
}

.security__info {
    position: absolute;
    /* background-color: green; */
    top: 30%;
    left: 5%;
    /* font-size: 16px; */
    /* line-height: 30px; */

    /* line-height: 50px; */
    font-size: 22px;
    line-height: 45px;
    width: 90%;
    text-align: justify;
    /* display: none; */
}

/* @media (max-width: 2000px) {
    .security__title {
        font-size: calc(28px + (35 - 28) * ((100vw - 768px) / (2000 - 768)));
    }
    .security__info {
        font-size: calc(16px + (32 - 16) * ((100vw - 768px) / (2000 - 768)));
        line-height: calc(30px + (70 - 30) * ((100vw - 768px) / (2000 - 768)));
    }
} */

.security__column_bottom {
    position: absolute;
    /* bottom: 5%; */
    left: 0%;
    top: 8%;
    width: 100%;

    height: 55%;
    /* background-color: #dcdcdc; */
    position: relative;
}
.security__image {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 80%;
    /* background-color: red; */
    border-radius: 15px;
    background-image: url(/static/media/home/slides/test_3.jpg);
    background-size: cover;
}
