body {
    /* background-color: yellow; */
    font-family: 'Open Sans', sans-serif;

    max-width: 100%;
    position: relative;
}
.home {
    margin-top: 70px;
    /* background-color: red; */
}

.home__slideshow {
    position: relative;
    /* height: 869px; */
    /* background-color: blue; */
}

.slideshow__prev {
    position: absolute;

    width: 40px;
    height: 120px;
    background-color: white;
    opacity: 0.3;
    top: 42%;
    left: 0;
    z-index: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slideshow__next {
    position: absolute;

    width: 40px;
    height: 120px;
    background-color: white;
    opacity: 0.3;
    top: 42%;
    right: 0;
    z-index: 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.slideshow__slider {
    /* opacity: 0.4; */

    /* background-color: red; */
    
}

.slider__example_1 {
    /* width: 100%;
    height: 100%; */
    position: relative;
    
}


.slider__image {
    width:100%;
    height: 1080px;
}

.slider__text_1{
    position: absolute;
    top:16%;
    left:5%;
    font-size: 50px;
    color:#fff;
    z-index: 3;
}

.slider__button_1{
    position: absolute;
    top:25%;
    left:5%;
    width: 200px;
    height: 50px;
    background-color: #0000CD;
    z-index: 3;
    border-radius: 15px;
}

.slider__link{
    margin-left: 25px;
    
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.slider__example_2 {
    /* width: 100%;
    height: 100%; */
    position: relative;
    
}

.slider__text_2{
    position: absolute;
    top:16%;
    right:5%;
    font-size: 50px;
    color:#fff;
    z-index: 3;
}

.slider__button_2{
    position: absolute;
    top:25%;
    right:5%;
    width: 200px;
    height: 50px;
    background-color: #0000CD;
    z-index: 3;
    border-radius: 15px;
}

.slider__example_3 {
    /* width: 100%;
    height: 100%; */
    position: relative;
    
}

.slider__text_3{
    position: absolute;
    top:16%;
    left:5%;
    font-size: 50px;
    color:#fff;
    z-index: 3;
}

.slider__button_3{
    position: absolute;
    top:25%;
    left:5%;
    width: 200px;
    height: 50px;
    background-color: #0000CD;
    z-index: 3;
    border-radius: 15px;
}



/* Создание IT-инфраструктуры */
.home__develop {
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px ;
    width: 100%;
    height: 950px;

    background-color: #fff;
    position: relative;
}



.develop__content{
    
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 875px;
    background-color: blue;
    z-index: 2;
    display:flex;
    position: relative;
}



.develop__column_left{
    background-color:#fff;
    position: absolute;
    top:0;
    left:0;
    width: 60%;
    height:100%;
    position: relative;
}

.develop__text{
    

}
.develop__title{
    position: absolute;
    background-color: #fff;
    top:10%;
    left: 5%;
    font-size: 28px;
}
.develop__info{
    position: absolute;
    background-color: #fff;
    top: 17%;
    left: 5%;
    font-size: 22px;
    line-height: 50px;
    width: 90%;
    text-align: justify;

}


.develop__column_right{
    background-color: #DCDCDC;
    position: absolute;
    top:0;
    right:0;
    width:40%;
    height:100%;
    position: relative;

}

.develop__image{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    /* background-color: red; */
    border-radius: 15px;

    background-image: url(/static/media/home/slides/test_3.jpg);
    background-size: cover;

}
/* .develop_image > im{
    width: auto;
    height:auto;
} */

/* Сопрождение IT-инфраструктуры */

.home__accompany {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 875px;

    background-color: #fff;
    position: relative;

}
.accompany__content{
    
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 875px;
    background-color: blue;
    z-index: 2;
    display:flex;
    position: relative;
}

.accompany__column_left{
    background-color: #DCDCDC;
    position: absolute;
    top:0;
    right:0;
    width:40%;
    height:100%;
    position: relative;
}
.accompany__image{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    /* background-color: ; */
    border-radius: 15px;
    background-image: url(/static/media/home/slides/test_3.jpg);
    background-size: cover;

}




.accompany__column_right{
    background-color:#fff;
    position: absolute;
    top:0;
    left:0;
    width: 60%;
    height:100%;
    position: relative;

}

.accompany__text{
    

}
.accompany__title{
    position: absolute;
    background-color: #fff;
    top:10%;
    right: 5%;
    font-size: 28px;
}
.accompany__info{
    position: absolute;
    background-color: #fff;
    top: 17%;
    left: 5%;
    font-size: 22px;
    line-height: 50px;
    width: 90%;
    text-align: justify;

}





.home__security {
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px ;
    width: 100%;
    height: 875px;

    background-color: #fff;
    position: relative;
}

.security__content {
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 875px;
    background-color: #fff;
    z-index: 2;
    position: relative;

}
.security__column_top {
    background-color: #fff;
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 45%;
    position: relative;
}
.security__text {
}
.security__title {
    position: absolute;
    font-size: 28px;
    top: 5%;
    left: 32%;
    background-color: #fff;
    

}

.security__info {
    position: absolute;
    background-color: #fff;
    top: 20%;
    left: 5%;
    font-size: 22px;
    line-height: 50px;
    width: 90%;
    text-align: justify;

}
.security__column_bottom {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 55%;
    background-color:#DCDCDC;
    position: relative;


}
.security__image {
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height: 90%;
    /* background-color: red; */
    border-radius: 15px;
    background-image: url(/static/media/home/slides/test_3.jpg);
    background-size: cover;
}




.home__clients_partners {
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px ;
    width: 100%;
    height: 800px;
    background-color: #fff;
    
}

.clients_partners__slideshow_2 {
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 800px;
    background-color: blue;
    z-index: 2;
    position: relative;
}


.slideshow_2__title {
    position: absolute;
    font-size: 20px;
   
    top:7.5%;
    left: 37%;
    background-color: #fff;
}

.slideshow_2__prev {
    position: absolute;
    width:40px;
    height: 40px;
    top:33%;
    left:15%;
    background-color:black;

}
.slideshow_2__next {
    position: absolute;
    width:40px;
    height: 40px;
    top:33%;
    right:15%;
    background-color:black;

}

.slideshow_2__slider_2 {
    position: absolute;
    left: 20%;
    top: 20%;

    width: 60%;
    height: 30%;
    background-color: yellow;
    /* opacity: 0.4; */
    border-radius: 15px;
    position: relative;
    /* box-sizing: border-box; */
    
}

.slider_2__example_1 {
    
    background-color: red;
    width: 100%;
    height: 1080px;
    /* border-radius: 15px; */
    /* z-index:150; */
}
.slider_2__example_2 {
    
    background-color: blue;
    width: 100%;
    height:100%;
    /* border-radius: 15px; */
    /* z-index:150; */
}
.slider_2__example_3 {
    
    background-color: green;
    width: 100%;
    height: 100%;
    /* border-radius: 15px; */
    /* z-index:150; */
}