.about{
    font-family: "Open Sans", sans-serif;
}

.about__company {
    width: 100%;
    height: 100vh;
}

.company__content {
    margin:auto;
    width: 85%;
    max-width: 1800px;
    height: 100%;
}
.company__top {
    width: 100%;
    height: 55%;
    /* background-color: grey; */
    position: relative;
}
.company__top_left {
    position: absolute;
    top: 35%;
    left: 2.5%;
    width: 60%;
    height: 60%;
    /* background-color: orange; */
    position: relative;
}
.company__title {
    position: absolute;
    top: 5%;
    left: 0;
}
.company__info {
    position: absolute;
    top: 25%;
    left: 0;
}
.company__top_right {
    position: absolute;
    top: 35%;
    right: 2.5%;
    width: 25%;
    height: 60%;
    /* background-color: orange; */
}
.company__image{
    width: 100%;
    height: 80%;
    border-radius: 25px;
    background-image: url(/static/media/about/soyuz.jpg);
    background-size: cover;
    

}
.company__bottom {
    width: 100%;
    height: 35%;
    border: 4px;
    border-radius: 25px;
    border-color: #001a54;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}
.company__tezis {
    width: 25%;
    height: 100%;
    /* background-color: grey; */
    position: relative;
}

.tezis__title {
    position: absolute;
    top: 5%;
    left: 5%;
    color: green;
    font-size: 35px;
}
.tezis__info {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 22px;
}


.about__history {
    width: 100%;
    height: 100vh;
}

.history__content {
    margin:auto;
    width: 85%;
    max-width: 1800px;
    height: 100%;
    position: relative;
}

.history__title {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 2.5%;
}
.history__diagram {
    position: absolute;
    width: 95%;
    height: 50%;
    top: 30%;
    left: 2.5%;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.diagram__element{
    margin-top: 30px;
    width: 190px;
    height: 180px;
    border: 4px;
    border-style: solid;
    border-color: #001a54;
    border-radius: 50%;
    text-align:center;
    z-index: 10;
    background-color: #fff;
    padding-top: 60px;
    font-size: 26px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.diagram__line{
    position: absolute;
    z-index: -10;
    top: 25%;
    left: 0%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 4px solid #001a54;
    width: 95%;
    
}






.about__notification{
    position: absolute;
    top:20%;
    left:10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #DCDCDC;
}
.attantion_mobile{
    display: none;
}

@media(max-width: 768px){
    .about{
        display: none;
    }
    .attantion_mobile{
        position: absolute;
        top:20%;
        left:10%;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        color: #DCDCDC;
        display: block;
    }
}
