.contacts__map {
    margin-right: 7.5%;
    margin-left: 7.5%;
    width: 85%;
    height: 100vh;
}

.map__content{
    margin:auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    position: relative;
}

.map__column_left{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;    
}

.map__info{
    margin: auto;
    margin-top: 39%;
    width: 90%;
    height: 60%;
    font-size: 20px;
}

.map__download{
    text-decoration: none;
}

.map__column_right{
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;    
}

.map__yandexMap{
    margin: auto;
    margin-top: 20%;
    width: 100%;
    height: 60%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-image: url(/static/media/contacts/yandexMap.jpg); */
    background-image: url(/static/media/_navbar/niktel_logo_ru.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media(max-width: 768px) {
    .contacts__map {
        height: 120vh;
        /* background-color: green; */
    }

    .map__column_left{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;   
        /* background-color: blue;  */
    }
    .map__info{
        margin-top: 25%;
        font-size: 20px;
    }
    .map__column_right{
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
        height: 50%;    
        /* background-color: red; */
    }
    .map__yandexMap {
        margin-top: 10%;
        width: 100%;
        height: 80%;
    }
}

@media(min-width: 769px) and (max-width: 1022px) {
    .map__info{
        font-size: 16px;
    }
}

@media(min-width: 1023px) and (max-width: 1439px) {
    .map__info{
        font-size: 18px;
    }
}

@media(min-width: 1919px) {
    .map__info{
        font-size: 24px;
    }
}


