{% load i18n %}
{% load static %}

<!doctype html>

<!-- Устанавливаем язык страниц -->
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <!-- Коодировка UTF-8 -->
  <meta charset="utf-8">
  <!-- Адаптивный мета тег-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- SEO мета тег-->
  <meta name="description" content="">

  {% block head %}

  {% endblock %}

  <title>{% trans 'Никтел - ' %}{% block title %}{% trans 'IT компания' %}{% endblock %}</title>
  
  

 
  <!-- Подключение иконок -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico'%}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  
  <!-- Сброс CSS стилей -->
  <link href="{% static 'css/reset.css'%}" rel="stylesheet">

  

  <!-- Стили шапки сайта -->
  <link href="{% static 'css/_nav.css'%}" rel="stylesheet">
  <link href="{% static 'css/_footer.css'%}" rel="stylesheet">
  <link href="/static/css/_scrollUp.css" rel="stylesheet">

  <link href="{% static 'css/home/home.css'%}" rel="stylesheet">
  <link href="{% static 'css/home/slideshow.css'%}" rel="stylesheet">
  <link href="{% static 'css/home/develop.css'%}" rel="stylesheet">
  <link href="{% static 'css/home/accompany.css'%}" rel="stylesheet">
  <link href="{% static 'css/home/security.css'%}" rel="stylesheet">
  <link href="{% static 'css/home/clients_partners.css'%}" rel="stylesheet">
  


  <link href="{% static 'css/about/about.css'%}" rel="stylesheet">

  <link href="{% static 'css/contacts/contacts.css'%}" rel="stylesheet">
  <link href="{% static 'css/contacts/chat.css'%}" rel="stylesheet">
  <link href="{% static 'css/contacts/map.css'%}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

</head>

<body>

  {% include "_nav.html" %}

  {% block content %}

  {% endblock %}
  

  {% include "_scrollUp.html" %}
  {% include "_footer.html" %}

  
  <!-- <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "js/custom.js" %}"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/slick/slick.min.js'%}"></script>
  <script src="{% static 'js/Slider.js'%}"></script>

  <script src="{% static 'js/Anchor_scroll.js'%}"></script>
  <script src="{% static 'js/scrollUp.js'%}"></script>
  <script src="{% static 'js/navbar.js'%}"></script>
  
  <script src="https://kit.fontawesome.com/bd327d6451.js" crossorigin="anonymous"></script>

</body>

</html>