{% load static %}
    <header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/niktel_logo.png'%}" height="45px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
    {% if page == '/' %}
        <li class="nav-item active">
          <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">О компании</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts/">Контакты</a>
        </li>
      </ul>
    {% elif page == '/about/' %}
        <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about/">О компании <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts/">Контакты</a>
        </li>
      </ul>
    {% else %}
        <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">О компании</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contacts/">Контакты <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    {% endif %}
        <span class="material-icons">phone_iphone</span>
        <span class="navbar-nav justify-content-end"><strong>{{ phone.number }}</strong></span>
{#      <form class="form-inline mt-2 mt-md-0">#}
{#        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#      </form>#}
    </div>
  </nav>
</header>