{% load i18n %}
{% load static %}


<div class="header">
  <div class="header__body">
    <div class="header__column header__column_logo logo">
      <a href="/" class="logo__link">
        {% get_current_language as LANGUAGE_CODE %}
        <img class="logo__img" src="{% static 'media/_navbar/niktel_logo_'%}{{ LANGUAGE_CODE }}.png" height="45px">
      </a>
    </div>

    <div class="header__column">
      <div class="header__burger">
        <span></span>
      </div>
      <div class="header__nav nav">
        <nav class="nav__menu menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="/" class="menu__link">{% trans 'Главная ' %}</a></li>
            <li class="menu__item"><a href="/about/" class="menu__link">{% trans 'Компания' %}</a></li>
            <li class="menu__item"><a href="/contacts/" class="menu__link">{% trans 'Контакты' %}</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- <div class="header__column">
      <div class="header__lang lang">
        <div class="lang">

          <div class="lang__selected">
            Russian version
          </div>

          {#{% get_available_languages as LANGUAGES %}#}

          {#{% for lang in LANGUAGES %} #}

          
            <ul class="lang__list">
              <li class="lang__item"> 
                <a href="" class="lang__link">Russian</a>
              </li>
              <li class="lang__item"> 
                <a href="" class="lang__link">Ensglish</a>
              </li>
            </ul> -->
          

            

            <!-- <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
              {% csrf_token %}

              <input name="language" value="{{ lang.0 }}">
              <a href="#" onclick="document.setLang{{ lang.0 }}.submit(); return true">
                Ru -->
                <!-- <img class="lang-ico" src="{% static 'media/_navbar/lang/'%}{{ lang.0 }}.png"alt="RU"> -->

              <!-- <input name="language" value="{{ lang.1 }}">
              <a href="#" onclick="document.setLang{{ lang.1}}.submit(); return true">
                Ru -->
                <!-- <img class="lang-ico" src="{% static 'media/_navbar/lang/'%}{{ lang.0 }}.png"alt="RU"> -->
                
              <!-- </a>
            </form> -->
            
          

          {# {% endfor %} #} 
          <!-- <input name="next" type="hidden" value="/"> -->
          <!-- type="hidden" -->
          
        <!-- </div>
      </div>
    </div> -->

    <div class="header__column">
      <div class="header__contact contact">
       
        <div class="contact__icon"></div>
        <div class="contact__phone phone">
          <a href="tel:89663720808" class="phone__link">{{ phone.number }}</a>
        </div>

      </div>
    </div>

  </div>
</div>

