{% extends "__base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load static %}

<div class="about">
  <!-- <div class="about__notification">
    Страница "О компании" на данный момент находится в разработке
  </div> -->

  <div class="about__company company"> 
    <div class="company__content">
      <div class="company__top">
        <div class="company__top_left">
          <h2 class="company__title">
            О компании
          </h2>
          <p class="company__info">
            ООО "Никтел" - компания, которая не предоставит вам конечный список своих услуг ведь мы готовы выполнить любую задачу нашего клиента связанную с IT, применяя комплексный подход в нашей работе
          </p>
        </div>
        <div class="company__top_right">
          <div class="company__image">

          </div>
        </div>
      </div>
      <div class="company__bottom">
        <div class="company__tezis tezis">
          <div class="tezis__title">
            5+
          </div>
          <div class="tezis__info">
            Более 5 лет работы на рынке IT
          </div>
        </div>
        <div class="company__tezis">
          <div class="tezis__title">
            55+
          </div>
          <div class="tezis__info">
            Клиентов, которые нам доверились
          </div>
        </div>
        <div class="company__tezis">
          <div class="tezis__title">
            35+
          </div>
          <div class="tezis__info">
            IT партнеров и вендоров
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="about__history history">
    <div class="history__content">
      <h2 class="history__title">
        История создания
      </h2>
      <div class="history__diagram diagram">
        <div class="diagram__line">
          
        </div>
        <div class="diagram__element">
          2015
        </div>
        <div class="diagram__element">
          2018
        </div>
        <div class="diagram__element today">
          Наше<br>время
        </div>
      </div>
  
    </div>
    
  </div>
</div>


<div class="attantion_mobile">
  Мобильная версия сайта находится в разработке
</div>
 

<!-- <main role="main">
  
  <div class="container mt-5">
    
    {% for about in abouts %}
    <div class="row featurette">
      <div class="col-md-7">
        <h5>{{ about.header_text}}</h5>
        <p>{% autoescape off%}{{ about.text }}</p>{% endautoescape %}
        {#            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
      </div>
      <div class="col-md-5">
        {% load thumbnail %}
        {% thumbnail about.image "500x500" crop="center" as im %}
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ im.url }}"
          height="{{ im.height }}" width="{{ im.width }}">
        {% empty %}

        {% endthumbnail %}
      </div>
    </div>
    <hr class="featurette-divider">
    {% endfor %}
    
  </div>
</main> -->

{% endblock %}
