{% extends "__base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load static %}

<div class="company">

  <div class="company__about about">
    <div class="about__content">
      <div class="about__top">
        <div class="about__top_left">
          <h2 class="about__title">
            О компании
          </h2>
          <p class="about__info">
            ООО "Никтел" - компания, которая не предоставит вам конечный список своих услуг, ведь мы готовы выполнить
            любую задачу нашего клиента связанную с IT, применяя комплексный подход в нашей работе
          </p>
        </div>
        <div class="about__top_right">
          <div class="about__image">

          </div>
        </div>
      </div>
      <div class="about__bottom">
        <div class="about__tezis tezis">
          <div class="tezis__title">
            5+
          </div>
          <div class="tezis__info">
            Более 5 лет работы на рынке IT
          </div>
        </div>
        <div class="about__tezis">
          <div class="tezis__title">
            55+
          </div>
          <div class="tezis__info">
            Клиентов, которые нам доверились
          </div>
        </div>
        <div class="about__tezis">
          <div class="tezis__title">
            35+
          </div>
          <div class="tezis__info">
            IT партнеров и вендоров
          </div>

        </div>
      </div>
    </div>
  </div>
  
  <div class="company__history history">
    <div class="history__content">
      <h2 class="history__title">
        История создания
      </h2>
      <div class="history__diagram diagram">
        <div class="diagram__line">
        </div>
        <div class="diagram__elements">
          <div class="diagram__element">
            2015
          </div>
          <div class="diagram__element">
            2018
          </div>
          <div class="diagram__element today">
            Наше<br>время
          </div>
        </div>
        <div class="diagram__info">
          <div class="text _element ex_1"> Cоздание компании <br> ООО "Никтел"</div>
          <div class="text _line ex_1"> Расширение партнерских связей </div>
          <div class="text _element ex_1"> Начало работы с Госструктурами </div>
          <div class="text _line ex_1"> Работа с клиентами <br> по всему миру</div>
          <div class="text _element ex_1 "> Продолжение <br>деятельности </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}