{% extends "__base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load static %}
<main role="main">
  <!-- Marketing messaging and featurettes
      ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container mt-5">
    <!-- START THE FEATURETTES -->
    {% for about in abouts %}
    <div class="row featurette">
      <div class="col-md-7">
        <h5>{{ about.header_text}}</h5>
        <p>{% autoescape off%}{{ about.text }}</p>{% endautoescape %}
        {#            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
      </div>
      <div class="col-md-5">
        {% load thumbnail %}
        {% thumbnail about.image "500x500" crop="center" as im %}
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ im.url }}"
          height="{{ im.height }}" width="{{ im.width }}">
        {% empty %}

        {% endthumbnail %}
      </div>
    </div>
    <hr class="featurette-divider">
    {% endfor %}
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
</main>
{% block footer %}{% endblock %}
{% endblock %}