{% extends "__base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load static %}
{#    <main class="container marketing">#}
{#    <hr class="featurette-divider">#}
{#        <!-- Three columns of text below the carousel -->#}
{#          {% for op in options %}#}
{#                {% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}#}
{#                <div class="row">#}
{#                {% endif %}#}
{#                  <a href="/option/{{ op.id }}" class="col-lg-3">#}
{#        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>#}
{#                    <div class="center-cropped">#}
{#                        {% load thumbnail %}#}
{#                        {% thumbnail op.image "x140" crop="center" format="PNG" as im %}#}
{#                            <img src="{{ im.url }}" width="140" height="140" class="rounded-circle border border-primary centered-and-cropped" >#}
{#                        {% endthumbnail %}#}
{#                    </div>#}
{#                    <h5 class="logo-color">{{ op.header_text }}</h5>#}
{#                  </a>#}
{#                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalScrollable{{ forloop.counter }}">#}
{#                      Подробнее#}
{#                    </button>#}
{##}
{#                    #}
{#            <p><a class="btn btn-primary" href="#" role="button">Подробнее &raquo;</a></p>#}
{#                  </a><!-- /.col-lg-4 -->#}
{#            {% endfor %}#}
{#        </div><!-- /.row -->#}
{#          <hr class="featurette-divider">#}
{#      </main>#}
<main role="main">
  <!-- Marketing messaging and featurettes
      ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container mt-5">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-12">
        <h5>{{ feature.header_text }}</h5>
        <p>{{ feature.subheader_text }}</p>
        {#            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
      </div>
      {#          <div class="col-md-5">#}
      {#                {% load thumbnail %}#}
      {#                    {% thumbnail about.image "500x500" crop="center" as im %}#}
      {#                        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">#}
      {#                    {% empty %}#}
      {##}
      {#                {% endthumbnail %}#}
      {#          </div>#}
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
</main>
{% block footer %}{% endblock %}
{% endblock %}