{% extends "__base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load static %}

<div class="home">

    <div class="home__slideshow slideshow">
        <div class="slideshow__prev">
            <i class="slideshow fas fa-chevron-left "></i>
        </div>
        <div class="slideshow__next">
            <i class="slideshow fas fa-chevron-right "></i>
        </div>
        <div class="slideshow__slider slider">
            <div class="slider__example_1">
                <img class="slider__image" />
                <h2 class="slider__text_1">
                    Cоздание IT-инфраструктуры
                </h2>
                <div class="slider__button_1" href="#develop">
                    <a class="slider__link" href="#develop"> Подробнее</a>
                </div>
            </div>
            <div class="slider__example_2">
                <img class="slider__image" />
                <h2 class="slider__text_2">
                    Cопровождение IT-инфраструктуры
                </h2>
                <div class="slider__button_2">
                    <a class="slider__link" href="#accompany"> Подробнее</a>
                </div>
            </div>
            <div class="slider__example_3">
                <img class="slider__image" />
                <h2 class="slider__text_3">
                    Безопасность IT-инфраструктуры
                </h2>
                <div class="slider__button_3">
                    <a class="slider__link" href="#security"> Подробнее</a>
                </div>
            </div>
        </div>



    </div>

    <div class="home__develop develop" id="develop">
        <div class="develop__content">
            <div class="develop__column_left">
                <div class="develop__text">
                    <h2 class="develop__title">Создание IT-инфраструктуры</h2>
                    <p class="develop__info"> Компания «Никтел» ставит своей целью решение комплексной задачи для
                        достижения требуемого результата, применяя метод интеграции уже готовых решений, таких как:</p>
                    <p class="develop__info _tezis"> 
                        – Системы передачи и хранения данных<br>
                        – Вычислительные системы<br>
                        – Облачные системы<br>
                        – Технологии виртуализации серверов и рабочих мест<br>
                        – Технологии резервного копирования и архивирования<br>
                        – Системы управления ресурсами организации<br>
                    </p>
                </div>
            </div>
            <div class="develop__column_right">
                <div class="develop__image">
                </div>
            </div>
        </div>
    </div>

    <div class="home__accompany accompany" id="accompany">
        <div class="accompany__content">
            <div class="accompany__column_right">
                <div class="accompany__text">
                    <h2 class="accompany__title">Сопровождение IT-инфраструктуры</h2>
                    <p class="accompany__info"> Компания «Никтел» предпочитает долгосрочное партнерство, поэтому после
                        создания IT-инфраструктуры, мы предоставляем следующий спектр услуг: </p>
                    <p class="accompany__info _tezis"> 
                        – Обслуживание систем и оборудования<br>
                        – Тестирование систем и оборудования<br>
                        – Улучшение производительности<br>
                        – Подключение дополнительного функционала<br>
                        – Аудит информационной безопасности<br>
                    </p>
                </div>
            </div>
            <div class="accompany__column_left">
                <div class="accompany__image">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="home__security security" id="security">
        <div class="security__content">
            <div class="security__column_top">
                    <h2 class="security__title">Безопасность IT-инфраструктуры</h2>
                    <p class="security__info"> Компания «Никтел» считает главной целью обеспечение безопасности как
                        информации заказчика, так и всего его оборудования. Для этого применяется следующее:<br>
                    </p>
                    <div class="security__tezis tezis">
                        <p class="tezis_left">
                            – Создание режима коммерческой тайны<br>
                            – Создание систем управления ИБ<br>
                            – Создание системы защиты персональных данных
                        </p>
                        <p class="tezis_right">
                            – Криптографическая защита сети<br>
                            – Управление инцидентами ИБ<br>
                            – Системы обнаружения и предотвращения вторжений<br>
                        </p>
                    </div>
            </div>
            <div class="security__column_bottom">
                <div class="security__image">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="home__clients_partners clients_partners">
        <div class="clients_partners__content">
            <div class="clients_partners__line_vertical"> </div>
            <div class="clients__content">
                <div class="cont">
                    <h2 class="clients__title">
                        Наши клиенты
                    </h2> 
                    <div class="clients__column_left">
                        <div class="clinets_partners__example clients__Tenex">
                            <a class="clients_partners__link" href="https://www.tenex.ru/" target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example clients__Gpbra">
                            <a class="clients_partners__link" href="https://gpbra.ru/" target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example clients__Bhsd">
                            <a class="clients_partners__link" href="https://britishdesign.ru/" target="_blank"></a>
                        </div>
                    </div>
                    <div class="clients__column_right">
                        <div class="clinets_partners__example clients__RosEnergoAtom">
                            <a class="clients_partners__link" href="https://www.rosenergoatom.ru/" target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example clients__Uranium">
                            <a class="clients_partners__link" href="https://uranium1.com/ru/about-us/" target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example clients__Tgc">
                            <a class="clients_partners__link" href="https://tgc.ru/" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__content">
                <div class="cont">
                    <h2 class="partners__title">
                        Наши партнеры
                    </h2>
                    <div class="partners__column_left">
                        <div class="clinets_partners__example partners__Dell">
                            <a class="clients_partners__link" href="https://www.dell.ru/" target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example partners__Citrix">
                            <a class="clients_partners__link" href="https://www.citrix.com/ru-ru/" target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example partners__MikroTik">
                            <a class="clients_partners__link" href="https://mikrotik.com/" target="_blank"></a>
                        </div>
                    </div>
                    <div class="partners__column_right">
                        <div class="clinets_partners__example partners__Cisco">
                            <a class="clients_partners__link" href="https://www.cisco.com/c/ru_ru/index.html"  target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example partners__VMware">
                            <a class="clients_partners__link" href="https://www.vmware.com/ru.html" target="_blank"></a>
                        </div>
                        <div class="clinets_partners__example partners__Comptek">
                            <a class="clients_partners__link" href="https://comptek.ru/" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>






{% endblock %}