{% extends "__base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load static %}
<!-- <main role="main"> -->
<!-- <div class="content_for_test">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, perspiciatis vel harum possimus cumque ut
            accusamus, sapiente praesentium error quisquam vero consectetur ad facere cupiditate, assumenda explicabo
            quam dolores ea?</p>
    </div> -->

<!-- Новый слайдер -->
<div class="home">

    <div class="home__slideshow slideshow">

        <div class="slideshow__prev">
            <!-- <img class="arrow" src="images/left-arrow.png"> -->
        </div>
        <div class="slideshow__next">
            <!-- <img class="arrow" src="images/right-arrow.png"> -->
        </div>

        <div class="slideshow__slider slider">



            <div class="slider__example">
                <img class="slider__image" src="static/media/home/slides/Server_test.jpeg" />
                <!-- <h2>
                <span>Python:
                    <span class="spacer"></span>
                    <br />
                    <span class="spacer"></span>
                    топ язык программирования
                </span>
            </h2> 
            <div class="prev"><img class="arrow" src="images/left-arrow.png" alt=""></div>
            <div class="next"><img class="arrow" src="images/right-arrow.png" alt=""></div> -->
            </div>

            <div class="slider__example">
                <img class="slider__image" src="static/media/home/slides/Server_test.jpeg" />

            </div>

            <div class="slider__example">
                <img class="slider__image" src="static/media/home/slides/Security.jpg" />


            </div>
        </div>










        <!-- Опции -->
        <!-- <main class="container marketing">

        
        {% for option in options %}
        {% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}
        <div class="row">
            {% endif %}
            <a href="/option/{{ option.slug }}" class="col-lg-3">
                {#        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>#}
                <div class="center-cropped">
                    {% load thumbnail %}
                    {% thumbnail option.image "x140" crop="center" format="PNG" as im %}
                    <img src="{{ im.url }}" width="140" height="140"
                        class="rounded-circle border border-primary centered-and-cropped">
                    {% endthumbnail %}
                </div>
                <h5 class="logo-color">{{ option.header_text }}</h5>
            </a>
            

            {% endfor %}
        </div>
        <hr class="featurette-divider">
    </main> -->

        <!-- Клиенты и партнеры -->
        <!-- <div class="partners navbar-light bg-light navbar-expand-md d-md-flex">
        <main class="container">
            <div class="row featurette ml-auto">
                <h2 class="featurette-heading" style="margin-top: 10px; width: 100%;">
                    {% trans 'Наши клиенты и партнеры' %}</h2>
                <div class="col-md-6">
                    {% for partner in partners %}
                    {% if not partner.is_vendor %}
                    {% load thumbnail %}
                    {% thumbnail partner.image "x40" crop="center" format="PNG" as im %}
                    {% if partner.link %}
                    <a href="http://{{ partner.link }}" target="_blank"><img class="img-thumbnail"
                            src="{{ im.url }}"></a>
                    {% else %}
                    <img class="img-thumbnail" src="{{ im.url }}">
                    {% endif %}
                    {% empty %}
                    {% endthumbnail %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for partner in partners %}
                    {% if partner.is_vendor %}
                    {% load thumbnail %}
                    {% thumbnail partner.image "x40" crop="bottom" format="PNG" as im %}
                    {% if partner.link %}
                    <a href="http://{{ partner.link }}" target="_blank"><img class="img-thumbnail"
                            src="{{ im.url }}"></a>
                    {% else %}
                    <img class="img-thumbnail" src="{{ im.url }}">
                    {% endif %}
                    {% empty %}
                    {% endthumbnail %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>
    </div> -->

        <!-- Преимущества -->
        <!-- <main class="container">
        {% for f in features %}
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 {% if forloop.counter|divisibleby:2 %}order-md-2{% endif %}">
                <h2 class="featurette-heading">{{ f.header_text }}</h2><br>
                <h4><a href="/feature/{{ f.slug }}" class="text-muted">{{ f.subheader_text }}</a></h4>
                {#                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
            </div>
            <a href="/feature/{{ f.slug }}"
                class="col-md-5 {% if forloop.counter|divisibleby:2 %}order-md-1{% endif %}">
                {% load thumbnail %}
                {% thumbnail f.image "500x500" crop="center" as im %}
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}
                {#            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>#}
            </a>
        </div>
        {% endfor %}
        <hr class="featurette-divider">
        {#        

        </div>
    </main> -->

        <!-- </main> -->
    </div>

    <div class="home__develop develop">
        Блок про Создание
    </div>

    <div class="home__accompany accompany">
        Блок про Сопровождение
    </div>

    <div class="home__security security">
        Блок про Безопасность
    </div>

</div>


<!-- {% block footer %}{% endblock %} -->
{% endblock %}